<p id="notice"><%= notice %></p>
<h1>Flats</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-inline">
        <%= render 'search' %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-sm-8">
  <div class="raw">
    <% @flats.each do |f| %>
    <div class="col-xs-12 col-sm-6">

      <%= render "flat", flat: f %>
    </div>
    <% end %>
  </div>
</div>
<div class="col-sm-4">
  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
</div>
<!-- <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
        <div class="col-xs-12 col-sm-4">
        </div>
          <%= flat.title %>
          <%= flat.address %>
          <%= flat.description %>
          <%= flat.stars %>
          <%= flat.user_id %>
          <%= flat.price %>

          <%= link_to 'Show', flat %>
          <%= link_to 'Edit', edit_flat_path(flat) %>
          <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>-->









