<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %> |


<% content_for(:title) do %>
  <%= @flat.title %> is on AIRBNB-CLONE
<% end %>
<% content_for(:description) do %>
  <%= @flat.description %> is one the best flat
<% end %>

<div class="media">
  <div class="media-body">
    <div class="media-section">
    <h1><%= @flat.title %></h1>

    </div>

    <div class="media-section">
      <% @flat.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
      <h2>Description</h2>
      <p><%= @flat.description %></p>
    </div>
  </div>
  <div class="media-aside">


    <h4><%= @flat.address %></h4>
    <div id="map" style="width: 100%; height: 200px"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(11);
            }
          });
        });
      <% end %>
    <% end %>

    <div class="media-section text-center">
      <h4><%=humanized_money_with_symbol (@flat.price) %>  make your day!</h4>
    </div>

    <div class="media-section text-center">
      <div class="media-rating">
      <%= @flat.stars.times do %>
        <i class="fa fa-star"></i>
        <% end %>

        <%= form_tag reservations_path do %>
        <%= hidden_field_tag 'flat_id', @flat.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
        <% end %>
        <hr>
        <%= render 'reviews/form', flat: @flat, review: @review %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%=  raw @flat_coordinates.to_json %>;
      <!-- alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng); -->
    });
  <% end %>
<% end %>
<h2><%= pluralize @flat.reviews.count , "Review" %>
</h2>


<div id="reviews">
  <% @flat.reviews.each do |review| %>
    <%= render 'reviews/show', review: review %>
 <% end %>
</div>





